.fact-head{
    margin-top: 3vh;
    margin-bottom: 3vh;
}
.read{
    margin-top: 2vh;
    margin-bottom: 2vh;
    background-color: rgb(217, 215, 215);
    width: 75vw;
    padding: 1.5vh;
    border-radius: 5px;
    font-size: 1.1em;
}
.des{
    width: 74vw;
    margin-bottom: 4vh;
}