body{
    background-color: black;
    color: rgb(142, 213, 248);
    display: flex;
    justify-content: center;
}
#text{
    position: absolute;
    font-family: cursive;
    font-size: 4em;
    animation: ani 2s infinite linear;
}
@keyframes ani{
    0%{
        text-shadow: 0 0 5px white, 0 0 10px white, 0 0 40px aqua, 0 0 80px aqua;top: 25px; left: 100px;
    }
    50%{
        text-shadow: 0 0 5px white, 0 0 10px white, 0 0 40px rgb(124, 195, 2), 0 0 80px rgb(119, 182, 1);top: 50px; left: 200px;
    }
    100%{
        text-shadow: 0 0 5px white, 0 0 10px white, 0 0 40px aqua, 0 0 80px aqua;top: 25px; left: 100px;
    }
}